body.kentikSudoToolsExtention {
  width: 375px; /* your desired width */
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2e475aff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #e05420ff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #e05420ff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.grid-container {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 5px;
}

.grid-item-label {
    grid-column: 1 / 2;
    font-size: 18px;
    font-family: "Arial", Sans-serif;
}

.grid-item-input {
    grid-column: 2 / 3;
}

.grid-header {
    grid-column: 1/3;
    font-size: 22px;
    font-family: "Arial", Sans-serif;
    font-weight: bold;
}

.cell-bottom {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: black;
}

.kentikButton {
	-moz-box-shadow: 0px 0px 0px 2px #f0c29e;
	-webkit-box-shadow: 0px 0px 0px 2px #f0c29e;
	box-shadow: 0px 0px 0px 2px #f0c29e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff6f00), color-stop(1, #ff3c00));
	background:-moz-linear-gradient(top, #ff6f00 5%, #ff3c00 100%);
	background:-webkit-linear-gradient(top, #ff6f00 5%, #ff3c00 100%);
	background:-o-linear-gradient(top, #ff6f00 5%, #ff3c00 100%);
	background:-ms-linear-gradient(top, #ff6f00 5%, #ff3c00 100%);
	background:linear-gradient(to bottom, #ff6f00 5%, #ff3c00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6f00', endColorstr='#ff3c00',GradientType=0);
	background-color:#ff6f00;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ff6f00;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:10px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ff0b03;
}
.kentikButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff3c00), color-stop(1, #ff6f00));
	background:-moz-linear-gradient(top, #ff3c00 5%, #ff6f00 100%);
	background:-webkit-linear-gradient(top, #ff3c00 5%, #ff6f00 100%);
	background:-o-linear-gradient(top, #ff3c00 5%, #ff6f00 100%);
	background:-ms-linear-gradient(top, #ff3c00 5%, #ff6f00 100%);
	background:linear-gradient(to bottom, #ff3c00 5%, #ff6f00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c00', endColorstr='#ff6f00',GradientType=0);
	background-color:#ff3c00;
}
.kentikButton:active {
	position:relative;
	top:1px;
}
